$main-gray: #e0e0e0;
$gray: rgba(158, 158, 158, 0.2);

.dashboard-content.md-default-theme {
  background-color: $main-gray;
}

.top-toolbar {
  padding: 10px 0 10px 0;
}

.top-logo {
  height: 70px;
  padding-right: 10px;
}

a.active {
  background-color: $gray;
}

.tag-input-rows{
  border-radius:4px; 
  background-color: $gray; 
  margin-bottom:5px;
  min-height:50px;
}

.tag-input-rows {
  md-input-container {
    padding: 2px;
  }
  
  md-select {
    margin-bottom: 2px;
    margin-top: 2px;
  }
}

//Reset the default log in style. Needs to be changed later on accounts-ui-unstyled with a fully custom style

.login-view{
  .login-link-text{
    font-size:3em;
  }
}
#login-buttons a{
    text-decoration:none;  
}

//For right alignment
.header-view{
  #login-buttons.login-buttons-dropdown-align- #login-dropdown-list {
    left: auto;
    right: -1px;
  }
}
