<!--Query-->
<div layout="row" layout-sm="column" flex>
  <md-card flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-flex"><md-icon md-svg-icon="action:ic_help_24px"></md-icon> Query</h2>
      </div>
    </md-toolbar>
    <md-card-content class="md-padding" layout="column">
  <!--  	<p ng-repeat="t in searchByTags.availableTags">{{t}}</p>--> 
      <md-content layout="column" class="autocomplete">
<!--      Button on top-->
<!--        <div layout="row" layout-align="space-between center">
          <h3>Select Tags</h3>
          <md-button class="md-raised md-accent" ng-click="ctrl.runQuery()">Display result &#10152;</md-button>
        </div>-->
        <h3>Select Tags</h3>
        <md-chips ng-model="ctrl.tags.selected" md-autocomplete-snap md-require-match>
          <md-autocomplete          
              md-selected-item="ctrl.tags.currentTag"
              md-search-text="ctrl.tags.searchText"
              md-items="item in ctrl.filteredTags()"
              md-item-text="ctrl.tags.available"
              md-no-cache="true"
              md-autoselect="true"
              placeholder="Search for a tag">
            <span md-highlight-text="ctrl.tags.searchText">{{item}}</span>
          </md-autocomplete>
        </md-chips>
      </md-content>
      
      <md-content layout="column">
        <div layout="row" layout-align="space-between end">
          <h3 flex="25">Field Name</h3>
          <h3 flex="25">Type</h3>
          <h3 flex="25">Value</h3>
          <div flex="5"></div>
        </div>
       </md-content>
       <md-content flex layout="column">
        <div class="tag-input-rows" layout="row" layout-align="space-around center" ng-repeat="c in ctrl.conditions"> 
          <md-input-container md-no-float flex="25">
            <input placeholder="Field Name" ng-model="c.fieldName">
          </md-input-container>
          <md-select placeholder="Type" ng-model="c.rawType" flex="25">
            <md-option value="String">String</md-option>
            <md-option value="Number">Number</md-option>
            <md-option value="Boolean">Boolean</md-option>
            <md-option value="RegExp">RegExp</md-option>
          </md-select>
          <md-input-container md-no-float flex="25">
            <input placeholder="Value" ng-model="c.rawValue">
          </md-input-container>
          <div>
            <md-button class="md-fab md-mini" aria-label="Remove a condition" ng-click="ctrl.removeCondition($index)" style="font-size:36px;" flex="5">&#215;</md-button>
          </div>
        </div>
        <div class="tag-input-rows" id="tag-rows" layout="row" layout-align="space-around center" style="border-radius:4px; background-color:rgba(158, 158, 158, 0.2); margin-bottom:5px;"> 
          <md-input-container md-no-float flex="25">
            <input ng-disabled="true" placeholder="Field Name">
          </md-input-container>
          <md-select ng-disabled="true" placeholder="Type" flex="25" ng-model="placeholderTypeSelection">
          </md-select>
          <md-input-container md-no-float flex="25">
            <input ng-disabled="true" placeholder="Value">
          </md-input-container>
          <div>
            <md-button class="md-fab md-mini md-primary" aria-label="Add a new condition" ng-click="ctrl.appendCondition()" style="font-size:36px;" flex="5" title="Add a new condition">&#43;                    </md-button>
          </div>        
        </div>
        </md-content>
        <md-content layout="column">
          <div layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center" ng-click="ctrl.appendCondition()">
              <md-button class="md-fab md-primary" aria-label="Add a new condition" ng-click="ctrl.appendCondition()" stop-click style="font-size:48px;">&#43;</md-button>
              <p style="text-transform:uppercase">Add a new condition</p>
            </div>
            <md-button class="md-raised md-accent" ng-click="ctrl.runQuery()">Display result &#10152;</md-button>
        </div>
      </md-content>
    </md-card-content>
  </md-card>
  
  <!--Result-->
  <md-card flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-flex"><md-icon md-svg-icon="action:ic_check_circle_24px"></md-icon> Result</h2>
      </div>
    </md-toolbar>
    <md-card-content>
<!--      <pre>{{ctrl.result.logs | json}}</pre>-->
      <ui-codemirror ng-model="ctrl.result.serialized" ui-codemirror="{mode: {name: 'javascript', json: true}, lineWrapping: true, lineNumbers: true, readOnly: true}">
<!--      <ui-codemirror ng-model="ctrl.result.serialized">-->
      </ui-codemirror>
    </md-card-content>
  </md-card>
</div>
