<md-toolbar class="md-accent top-toolbar md-whiteframe-z2" layout="row">
<img class="top-logo" src="/images/greenLogo.png" alt="logo"/>
<h3>logTank Dashboard</h3>
</md-toolbar>
<div ng-controller="MainController as main" layout="row" flex style="min-height:500px;">
  
  <div layout="row" flex>
    
<!--    Left side navigation-->
    <md-sidenav class="md-sidenav-left" md-component-id="leftNavbar" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
        <h1 class="md-toolbar-tools">logTank using company</h1>
      </md-toolbar>
      <md-content role="navigation" layout-padding ng-controller="LeftNavbarController as leftNavbar">
        <md-button ng-click="leftNavbar.close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
        <md-divider></md-divider>
        Point
      </md-content>
    </md-sidenav>
    
<!--    Main Text-->
    <md-content class="dashboard-content" flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>
        <div>
          <md-button ng-click="main.toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
        <div>
          <md-button ng-click="main.toggleRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>
    
<!--    Right side navigation-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="rightNavbar">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightNavbarController as rightNavbar" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-sidenav-focus>
          </md-input-container>
        </form>
        <md-button ng-click="rightNavbar.close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </div>
</div>

 <!--    Footer-->
<md-footer class="md-accent" layout="row">
  Just add data
</md-footer>

